@import url('https://fonts.googleapis.com/css?family=Raleway|Nunito+Sans');

:root {
  --trans: all 300ms ease-in-out;
  --tshadow: -2px 2px 5px #1f1f1f91;
  --titletext: 'Raleway', sans-serif;
  --paratext: 'Nunito Sans', sans-serif;

  --bgc:#4f5157;
  --light-text: #ffffff;

  --white-blue: #dce5ec;
  --light-blue: #bfd3df;
  --mid-blue: #5187a0;
  --black-blue: #31343b;

  --btn-blue: #4d788b;

  --card-teal: #00b5ad;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: var(--paratext);
  background-color: var(--bgc);
  color: var(--light-text);
}

.container {
  margin-top: 30px;
  margin-bottom: 100px;
}

.bold {
  font-weight: bolder;
}

.small-text {
  font-size: 12px;
}

.outer-container {
  width: 100%;
  min-height: calc(100vh - 306px);
}

.disappear {
  display: none;
}

.scrollbar-primary::-webkit-scrollbar {
  background-color: transparent;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(32,32,32);
}

.scrollbar-message::-webkit-scrollbar {
  background-color: transparent;
}

.scrollbar-message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--mid-blue);
}

/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width : 992px) {
	
}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  
}

@media (max-width: 425px) {

}