.fixed-box {
    width: 300px;
    height: 400px;
    position: fixed;
    top: 120px;
    left: 50px;
    padding: 40px 10px;
    background-color: #3d3d3d71;
    box-shadow: -12px 12px 8px #1f1f1f91;
}

.about-menup {
    letter-spacing: .5px;
    color: rgba(255, 255, 255, 0.70);
    padding: 10px;
    margin: 10px;
    transition: var(--trans);
    border-left: 1px solid #3d3d3d00;
}

.about-isActive {
    text-shadow: var(--tshadow);
    color: var(--card-teal);
    font-weight: bolder;
    cursor: pointer;
    border-left: 1px solid var(--card-teal);
}

.about-menup:hover {
    text-shadow: var(--tshadow);
    color: var(--light-text);
    font-weight: bolder;
    cursor: pointer;
    border-left: 1px solid var(--light-text);
}

.about-hr {
    display: none;
}




/* ////////////////////////////////////// */
/* //////////// Media Queries /////////// */
/* ////////////////////////////////////// */
@media (max-width: 767px) {
    .fixed-box {
        width: auto;
        min-width: 275px;
        height: auto;
        position: absolute;
        top: 80px;
        left: 40px;
        right: 30px;
        padding: 15px 5px 15px 0px;
    }

    .fixed-box div {
        padding: 0px;
        height: 70px;
        margin: 0;
        vertical-align: middle;
        min-width: 117.5px;
    }

    .fixed-box div:first-child {
        border-right: 1px solid var(--card-teal);
    }

    .fixed-box div:nth-child(4) {
        border-right: 1px solid var(--card-teal);
    }

    .fixed-box div:nth-child(4),
    .fixed-box div:nth-child(5) {
        margin-top: 20px;
    }

    .about-hr {
        display: block;
        border-top: .5px solid var(--card-teal);
        position: absolute;
        top: 78px;
        left: 10px;
        right: 10px;
        width: 90%;
    }

    .about-menup {
        font-size: 14px;
        text-align: center;
        letter-spacing: 0px;
        margin: 15px 10px;
        padding: 10.5px 0px;
        border-left: none;
    }

    .about-isActive {
        font-weight: normal;
        border-left: none;
    }

    .about-menup:hover {
        font-weight: normal;
        border-left: none;
    }

    
}

@media (max-width: 410px) {
    .fixed-box div:nth-child(4) .about-menup {
        padding: 0px;
    }
}